body{
    margin: 0;
}

*{
    box-sizing: border-box;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.caruser{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.caruser .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    
    display: inline-block;
    padding: 13px;
    border-radius: 3px;
    border: 4px solid #efefef6b;
}

.btn-prev{
     left: 7%;
}

.btn-nex{
    right: 7%;
}
/* 
.caruser-content{
     
 
} */

.caruser .items{
    height: 100vh; 
    width: 100%;
    transform: translateX(-100%) ;
    /* display: none; */
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    transition: all 3s;
}

 

.caruser .items.active{
    opacity: 1;
    transform: translateX(0) !important;
    transition: all 3s;
    z-index: 99;
}

.caruser .items.active + .items{
    transform: translateX(100%) !important;
}

.repplaced{
  display: none;
}


.items .content {
    width: 450px;
    position: absolute;
    z-index: 77;
    background-color: #fff;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 7px 7px 7px #0f090921;
}


.indicator  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: 9999;

}

.indicator span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
}

.indicator span.active{
 
    background-color: green;
}

.indicator span:hover{
  cursor: pointer;
}

.port li{
    display: inline-block;
    padding: 7px;
}

.port li:hover{
  cursor: pointer;
}

.port li.active{
  background-color:darkslategrey;
  color: #fff;
}

.portfolio div {
 
    width:  0;
    height: 0;
    /* opacity: 0; */
    background-color: darkslategrey;
    border-radius: 3px;
    margin: 3px;
    transition:all .6s;
    animation: nones;
    animation-duration: .6s;
    animation-iteration-count: 1;
    transform: translateY(-100%) scale(0);
}

.portfolio div.show {
    width:32%;
    height: 150px;
    /* opacity: 1; */
    transition:all .6s;
    transform: translateY(0) scale(1);
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

@keyframes nones {

    0%{
        width: 32%;
     
    }

     
    100%{
        width: 0px;
         
    }
}

.circle {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
 
  }


  .animate{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animate:hover{
   cursor: pointer;
  }

  #tetx{
      position: absolute;
      bottom: -50%;
 
 
  }

  #an{
      position: relative;
      overflow: hidden;
      transform: translateY();
  }

  .box{
      position: relative;
  }


  .bgred{
    position: absolute;
    right: 0;
    height: 0;
    display: inline-block;
    width:60%;
    bottom: 0;
    
    opacity: 0;
    background-color: red;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 10rem;
  }

  .x{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%) scale(0);
    color: #fff;
    transition:all  1s;
    font-size: 42px;
  }

  
.x.show{
    transition: all 1s;
    transform:  translate(-50%, -50%) scale(1);
}